%section.crowdfund
  .container
    .row
      .panel.panel-default.crowdfund-panel
        .panel-heading
          %h2
            Bitcoin Crowdsale
        .panel-body
          .row
            .col-md-6
              = image_tag "entropy_logo_text_grey.png", class: "img-responsive"
            .col-md-6
              %ul
                %li.stats
                  %i.fa.fa-heart.text-muted.backer-stat-icon
                  %span#backers
                    = "-"
                  %span.detail Backers
                %li.stats
                  %i.fa.fa-bitcoin.text-muted.backer-stat-icon
                  %span#total_raised
                    = "-"
                  %span.detail Raised out of #{@goal} goal
                %li.stats
                  %i.fa.fa-calendar.text-muted.backer-stat-icon
                  30
                  %span.detail Days to go

          .row
            .col-md-10
              .progress{ style: "width: 30%" }
                .progress-bar.progress-bar-warning.progress-bar-striped{ style: "width: #{@percent}%" }
                  = "#{@percent}%"
              %h3 
                Goal 1 -
                %span.text-muted
                  %i.fa.fa-bitcoin
                  500
                %small
                  "Realistic"
              
              %ul
                %li 50' Sail Catamaran
                %li Hackerspace Onboard
                %li First nomadic Bitcoin community
              
            .col-md-2
              %h3

          %hr
          .row
            .col-md-10
              .progress{ style: "width: 50%" }
                .progress-bar.progress-bar-warning.progress-bar-striped{ style: "width: #{@percent}%" }
              %h3 
                Goal 2 -
                %span.text-muted
                  %i.fa.fa-bitcoin
                  1,500
                %small
                  "Dreaming big"
              %ul
                %li 80' Sail Catamaran
                %li More space for people to stay aboard
                
          %hr  
          .row
            .col-md-10
              .progress
                .progress-bar.progress-bar-warning.progress-bar-striped{ style: "width: #{@percent}%" }
                  = "#{@percent}%"
              %h3 
                Goal 3 -
                %span.text-muted
                  %i.fa.fa-bitcoin
                  17,000
                %small
                  "Changing the world"
              %ul
                %li 105' Superyacht
              
              %a.pull-right.btn.btn-primary.btn-xl.page-scroll{:href => "#rewards"} Back this Project

%section#map
  .container
    .row
      .col-md-6
        .panel.panel-default.crowdfund-panel
          .panel-heading
            %h4
              About Project Entropy
          .panel-body
            %p
              %strong What are we doing?
              We are fitting out the worlds first bitcoin based floating hackspace and setting sail continously around the world on 100% clean, sustainable energy. All with the aims of inspiring people to see what's possible and to learn more about making, decentralisation and Bitcoin.
            %p
              Many recent projects are largely intangalbe, so one of our aims is to bring a dramatic physical project into the spotlight, capturing peoples imaginations and showing what a few enthusiastic people can do.
            %p
              Everything about the project is open source and bitcoin based, encouraging fresh new real world uses. When not possible to use bitcoin directly, we will fall back on bitcoin-backed services.

            %p
              %strong Why are we doing it?
              We've always had a passion for sailing, technology, environmentalism, open source software and decentralisation. So a hackspace aboard a catamaran seems like the ideal experiment

            %p
              %strong How will funds be used?
              Firstly all donations are safely kept across multiple mutisig cold storage wallets distributed across multiple sites.

              The majority of funds will go towards the purchase and outfitting of a suitable sailing catamaran. It feels right to seek out a used boat for sale in an ecconomy recently let down by the financial sector then offer to buy it at a premium with Bitcoin.

              The remaining funds will be used to see us over for two years, giving everyone the chance to come aboard.

              Year 3 we aim to grow the fleet, to allow more people to stay board, opening up the space to more people long term.
      .col-md-6
        %h4
          %i.fa.fa-bitcoin
          %strong
            0.01 or more
          [ 5,000 Available ]
        %p
          %strong 1x Entropy Digital Citizenship Token,
          offically part of the community, entitled to vote on all matters, including the vessels next destination; Lifetime discount of 50% off: time aboard, cafe and any other events. Limited to one per person.

        %hr
        %h4
          %i.fa.fa-bitcoin
          %strong
            0.1 or more
          [ 2,000 Available ]
        %p
          %strong 1x Postcard
          We will write and send you a postcard from somewhere around the world. We will make sure there are no spiders attached.

        %hr
        %h4
          %i.fa.fa-bitcoin
          %strong
            1.0 or more
          [ 2,000 Available ]
        %p
          %strong Cinema Night
          You can come aboard for one of our exclusive backer events
