.header.homepage
  .header-content.scrollme
    .row
      .col-md-8.col-md-offset-1
        .effect_box.effect_box_translate.animateme{"data-opacity" => "0", "data-from" => "0", "data-to" => "0.5", "data-translatex" => "-100", "data-translatey" => "-100", "data-when" => "span"}
          = image_tag "entropy_logo_text_white.png", class: 'main-logo img-responsive'
    .row
      .col-md-7.col-md-offset-3.text-right.banner-logo-tagline.animateme{"data-opacity" => "0", "data-from" => "0.2", "data-to" => "0.6", "data-translatex" => "200", "data-translatey" => "0", "data-when" => "span"}
        %h1.main-lead-text.bigger.logo-tagline A Floating Blockchain Experiment
  .main-area-links.bottom-align-text{ style: 'padding: 1em;'}
    = link_to 'https://projectentropy.gitbooks.io/whitepaper/content/', class: 'btn btn-primary' do
      %i.fa.fa-file
      Whitepaper

    = link_to 'https://rocket.project-entropy.com', class: 'btn btn-primary' do
      %i.fa.fa-rocket
      Discussion

.header.secondary.alpha
  .container.animateme.scrollme{"data-from" => "0.75", "data-opacity" => "0", "data-to" => "0", "data-translatex" => "400", "data-when" => "enter", :style => "opacity: 0.77; transform: translate3d(91px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1);"}
    .row
      .col-sm-7.col-sm-offset-5.text-box-red.text-right
        %br
        %br
        %h1.text-uppercase
          Project Entropy is a floating experiment powered by Ethereum

    .row
      .col-sm-7.col-sm-offset-5.text-box-red.text-right
        %p.lead
          We're launching a community steered fleet of sailing hackspaces, starting with a crowd-owned boat that sails around the world




.header.secondary.community.scrollme
  .container
    .row
      .col-sm-7.text-box-lightblue.text-left
        %br
        %br
        %h1.text-uppercase global community


    .row
      .col-sm-7.text-box-lightblue.text-left
        %p.lead
          All entropy contributors are citizens of a experimental micronation without centralised government.
          Citizens can suggest new aims and destinations for the project.
          Everyone has the option to vote on everything the fleet is aiming for - destinations sailed towards, ideas built and projects helped

      .col-sm-7.no-padding.animateme.scrollme{"data-from" => "0.75", "data-opacity" => "0", "data-to" => "0", "data-translatex" => "-400", "data-when" => "enter", :style => "opacity: 0.77; transform: translate3d(91px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1);"}
        = link_to 'JOIN US', page_path('community'), class:'btn btn-primary btn-lg btn-block ghost-button-lightblue'


.header.secondary.beta.scrollme
  .container
    .row

      .col-lg-7.col-sm-offset-5.text-right.text-box-lightblue
        %br
        %br
        %h1.text-uppercase
          Growing projects aboard

    .row
      .col-sm-7.col-sm-offset-5.text-right.text-box-lightblue
        %p.lead
          Entropy is about being creative, manually and digitally, prototyping and bringing cool projects to life.

        %p.lead
          The fleet carries a hackspace, free to be used to learn, build prototypes and repair or create useful things for other groups to use
          anything from p2p protocols to solarpunk water recyclers

      .col-sm-7.col-sm-offset-5.text-right.no-padding.animateme.scrollme{"data-from" => "0.75", "data-opacity" => "0", "data-to" => "0", "data-translatex" => "400", "data-when" => "enter", :style => "opacity: 0.77; transform: translate3d(91px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1);"}
        = link_to 'projects', page_path('projects'), class:'btn btn-primary btn-lg btn-block ghost-button-lightblue'

.header.secondary.map.text-left.scrollme
  .container
    .row
      .col-sm-8.text-left.text-box-red
        %br
        %br
        %h1.text-uppercase
          you decide where Entropy goes

    .row
      .col-sm-8.text-box-red.text-left
        %p.lead
          We want to tell the story of the boat without a captain.

        %p.lead
          Entropy is growing into a decentralised autonomous organisation (DAO) with a global
          community at its heart.
          Among other things you can suggest and vote on the destinations of the Entropy Flotilla


.header.secondary.afloat.text-left.scrollme
  .container
    .row
      .col-lg-7.col-sm-offset-5.text-right.text-box
        %br
        %br
        %h1.text-uppercase
          JOIN ENTROPY

    .row
      .col-sm-7.col-sm-offset-5.text-right.text-box
        %p.lead
          Entropy is a self organised project. Any contributor or supporter becomes a part of it.
          Support it by building it, making it safer, easier and faster, or with ether during the crowdfund.

        %p.lead
          Join our
          %strong
            = link_to 'community', page_path('community'), class: 'white'
          and learn how you can become a part of Entropy now.



%section.no-padding
  .container-fluid
    .row.no-gutter
      .col-lg-3.col-sm-3
        .portfolio-box{:href => "#"}
          = image_tag "Token_GetName.png", class: "img-responsive"
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                Join
              .project-description
                Have your name written on the boat, among all other citizens
      .col-lg-3.col-sm-3
        .portfolio-box{:href => "#"}
          = image_tag "Token_ComeAboard.png", class: "img-responsive"

          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                Crew
              .project-description
                Come aboard and help sail the boats in the Entropy fleet around the
                world


      .col-lg-3.col-sm-3
        .portfolio-box{:href => "#"}
          = image_tag "Token_Incubator.png", class: "img-responsive"
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                Incubate
              .project-description
                Float ideas to the onboard incubator, grow projects onboard


      .col-lg-3.col-sm-3
        .portfolio-box{:href => "#"}
          = image_tag "Token_Route.png", class: "img-responsive"

          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                Steer
              .project-description
                Direct the fleet, suggest where we go and what we do there



%section.no-padding
  .container-fluid

%section#supporters
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %h2.section-heading Supporters
    .row
      .col-sm-2.text-center.wow.fadeIn
        = image_tag "lucas_1.jpg", class: "img-responsive profile_pic"
        %p.lead Lucas Tauil De Freitas
        %p Weaver, journalist and group interaction specialist with 15 years experience circumnavigating
        %p
          %a{:href => "mailto:lucasexpresso@gmail.com"}
            %i.fa.fa-envelope-o
          %a{:href => "https://nz.linkedin.com/in/lucas-tauil-de-freitas-a46b5826"}
            %i.fa.fa-linkedin
          %a{:href => "https://twitter.com/tauil_lucas"}
            %i.fa.fa-twitter


%section#guardians
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %h2.section-heading Guardians
        %hr.primary/
        %p.lead Guardians
    .row
      .col-sm-2.text-center.wow.fadeIn
        = image_tag "tudor_2.jpg", class: "img-responsive profile_pic"
        %p.lead Tudor Georgescu
        %p Hacker of OpenSource, planter of trees, grower of beard
        %p
          %a{:href => "https://uk.linkedin.com/in/tudorg"}
            %i.fa.fa-linkedin


      .col-sm-2.text-center.wow.fadeIn
        = image_tag "helena_1.jpg", class: "img-responsive profile_pic"
        %p.lead Helena Teichrib
        %p Creative Designer, Idealist and Treehugger
        %p
          %a{:href => "mailto:helena.rib@project-entropy.com"}
            %i.fa.fa-envelope-o
          %a{:href => "https://www.linkedin.com/in/helena-teichrib-83246065/en"}
            %i.fa.fa-linkedin
          %a{:href => "https://twitter.com/HelenaTeichrib"}
            %i.fa.fa-twitter




      .col-sm-2.text-center.wow.fadeIn
        = image_tag "joran_rain.png", class: "img-responsive profile_pic"
        %p.lead Joran Kikke
        %p Technology architect, maker, mild anarchist and civilization skeptic
        %p
          %a{:href => "mailto:joran.k@project-entropy.com"}
            %i.fa.fa-envelope-o
          %a{:href => "https://nz.linkedin.com/in/joran-kikke-0b08065"}
            %i.fa.fa-linkedin
          %a{:href => "https://twitter.com/donkeyscience"}
            %i.fa.fa-twitter

      .col-sm-2.text-center.wow.fadeIn
        = image_tag "kian_1.jpg", class: "img-responsive profile_pic"
        %p.lead Kian Mehrabi
        %p Teacher and Freelance Thinker
        %p
          %a{:href => "mailto:kiamo.m@gmail.com"}
            %i.fa.fa-envelope-o
          %a{:href => "https://www.linkedin.com/in/kianmehrabi"}
            %i.fa.fa-linkedin


%section#contact
  .container
    .row
      .col-lg-3.text-center
        %i.fa.fa-phone.fa-3x.wow.bounceIn
        %p +64 0204 404 004
      .col-lg-3.text-center
        %i.fa.fa-envelope-o.fa-3x.wow.bounceIn{"data-wow-delay" => ".1s"}
        %p
          %a{:href => "mailto:freedom@project-entropy.com"} freedom@project-entropy.com
      .col-lg-3.text-center
        %i.fa.fa-github.fa-3x.wow.bounceIn{"data-wow-delay" => ".1s"}
        %p
          %a{:href => "https://github.com/ProjectEntropy/"} github.com/ProjectEntropy
      .col-lg-3.text-center
        %i.fa.fa-twitter.fa-3x.wow.bounceIn{"data-wow-delay" => ".1s"}
        %p
          %a{:href => "https://twitter.com/EntropyBoat/"} @EntropyBoat
