%header
  .header-content
    .header-content-inner
      %h1.main-lead-text The Worlds first floating bitcoin hackspace and flagship of a brave new digitally nomadic fleet
      %hr/
      %p
      %a.btn.btn-primary.btn-xl.page-scroll{:href => "#about"} Find Out More
%section#about.bg-primary
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %h2.section-heading Be Part of the Revolution
        %hr.light/
        %p.text-faded Bitcoin 01 is the worlds first floating hackspace, location independent bitcoin node and digital nomad refuge.
        %p.text-faded
          We have a passion for the emerging decentralised maker econnomy and want to help more people get involved.
        %a.btn.btn-default.btn-xl{:href => "#"} Become a Citizen
%section#map
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Route
        %hr.primary/

        %iframe{ src: "https://www.google.com/maps/d/u/0/embed?mid=zEcDfPg7W8kI.ka6sxEQkYi6A", width: "100%", height: "480" }

%section#services
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading 100% Bitcoin, 100% Freedom
        %hr.primary/
  .container
    .row
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.fa-diamond.wow.bounceIn.text-primary
          %h3 Hackspace, Event Venue & More
          %p.text-muted Dramatically bringing the intangable right to the heart of major cities around the world, with an onboard bitcoin cafe, makerspace and fairtrade tea delivery.
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.fa-paper-plane.wow.bounceIn.text-primary{"data-wow-delay" => ".1s"}
          %h3 Citizenship
          %p.text-muted Anyone can become a citizen, entitled to join us sailing, vote on the next destination and help out.
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.fa-newspaper-o.wow.bounceIn.text-primary{"data-wow-delay" => ".2s"}
          %h3 Infrastructure
          %p.text-muted Pushing the boundaries of eco-friendly mobile technology, meshnet networking and decentralisation.
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.fa-heart.wow.bounceIn.text-primary{"data-wow-delay" => ".3s"}
          %h3 Just the Beginning
          %p.text-muted Bitcoin 01 is just the start of a grownig fleet
%section#portfolio.no-padding
  .container-fluid
    .row.no-gutter
      .col-lg-4.col-sm-6
        %a.portfolio-box{:href => "#"}
          = image_tag "sails_up.jpg", class: "img-responsive"
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                Our Boat
              .project-name
                Quiet,

      .col-lg-4.col-sm-6
        %a.portfolio-box{:href => "#"}
          = image_tag "spinnaker.jpg", class: "img-responsive"
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                Hackspace
              .project-name
                Full onboard workshop, 3d Printing, IoT components and the world's only naval full bitcoin node
      .col-lg-4.col-sm-6
        %a.portfolio-box{:href => "#"}
          = image_tag "sails-3.jpg", class: "img-responsive"

          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                Category
              .project-name
                Project Name
      .col-lg-4.col-sm-6
        %a.portfolio-box{:href => "#"}
          = image_tag "spinnaker_2.jpg", class: "img-responsive"

          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                Category
              .project-name
                Project Name
      .col-lg-4.col-sm-6
        %a.portfolio-box{:href => "#"}
          = image_tag "portfolio/5.jpg", class: "img-responsive"

          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                Category
              .project-name
                Project Name
      .col-lg-4.col-sm-6
        %a.portfolio-box{:href => "#"}
          = image_tag "portfolio/6.jpg", class: "img-responsive"

          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                Category
              .project-name
                Project Name
%aside.bg-dark
  .container.text-center
    .call-to-action
      %h2 Restablishing 100% Eco Global Traderoutes
      %a.btn.btn-default.btn-xl.wow.tada{:href => "#"} Learn More!
%section#contact
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %h2.section-heading Let's Get In Touch!
        %hr.primary/
        %p Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!
      .col-lg-4.col-lg-offset-2.text-center
        %i.fa.fa-phone.fa-3x.wow.bounceIn
        %p 123-456-6789
      .col-lg-4.text-center
        %i.fa.fa-envelope-o.fa-3x.wow.bounceIn{"data-wow-delay" => ".1s"}
        %p
          %a{:href => "mailto:your-email@your-domain.com"} feedback@startbootstrap.com
