%header.homepage
  .header-content
    .header-content-inner
      %h1.main-lead-text Roam The World Aboard the first floating bitcoin hackspace
      %hr/
      %a.btn.btn-primary.btn-xl.page-scroll{:href => "#about"} Find Out More
%section#about.bg-primary
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %h2.section-heading Freedom
        %hr.light/
        %p.lead Entropy is the worlds first floating hackspace, location independent bitcoin node and digital nomad refuge.
        %p.lead.text-faded
          We have a passion for the emerging decentralised maker econnomy and want to help more people get involved.
      .col-lg-8.col-lg-offset-2.text-center
        %hr.light/
        %h2.section-heading For Everyone

        %p.lead Whenever possible, anyone is welcome to come aboard for regular maker nights, events and talks.
        %p.lead
          Citizens not only have a say in where we go next, but can join us as we travel there
        %a.btn.btn-default.btn-xl{:href => "#"} Become a Citizen
%section#map
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Route
        %hr.primary/
        %p.lead Entropy steadily heads West on a schedule to avoid storm seasons, while harnessing the natural trade winds.
        %p.lead The community at large decides the next port of call
        = link_to page_path('map') do
          = image_tag 'worldmap_1.png', class: "img-responsive"
        
%section#services
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading 100% Bitcoin, 100% Freedom
        %hr.primary/
  .container
    .row
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.fa-anchor.wow.bounceIn.text-primary
          %h3 Hackspace, Event Venue & More
          %p.text-muted.lead Dramatically bringing the intangable right to the heart of major cities around the world, with an onboard bitcoin cafe, hackerspace and global fairtrade tea delivery.
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.fa-flag.wow.bounceIn.text-primary{"data-wow-delay" => ".1s"}
          %h3 Citizenship
          %p.text-muted.lead Anyone can become a citizen, entitled to join us sailing, vote on the next destination and help out.
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.fa-arrows-alt.wow.bounceIn.text-primary{"data-wow-delay" => ".2s"}
          %h3 Decentralized Infrastructure
          %p.text-muted.lead Pushing the boundaries of eco-friendly mobile technology, off grid power and decentralisation, we are building a community around blockchain based trustless descision making
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.fa-chevron-circle-right.wow.bounceIn.text-primary{"data-wow-delay" => ".3s"}
          %h3 Just the Beginning
          %p.text-muted.lead Entropy is the start of a historic fleet, boldly sailing into the unknown of the new word
%section#portfolio.no-padding
  .container-fluid
    .row.no-gutter
      .col-lg-4.col-sm-6
        %a.portfolio-box{:href => "#"}
          = image_tag "sails_up.jpg", class: "img-responsive"
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                Our Boat
              .project-name
                Quiet,

      .col-lg-4.col-sm-6
        %a.portfolio-box{:href => "#"}
          = image_tag "spinnaker.jpg", class: "img-responsive"
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                Hackspace
              .project-name
                Full onboard workshop, 3d Printing, IoT components and the plenty of fresh coffee
      .col-lg-4.col-sm-6
        %a.portfolio-box{:href => "#"}
          = image_tag "sails-3.jpg", class: "img-responsive"

          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                Category
              .project-name
                Project Name
      .col-lg-4.col-sm-6
        %a.portfolio-box{:href => "#"}
          = image_tag "spinnaker_2.jpg", class: "img-responsive"

          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                Category
              .project-name
                Project Name
      .col-lg-4.col-sm-6
        %a.portfolio-box{:href => "#"}
          = image_tag "portfolio/5.jpg", class: "img-responsive"

          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                Category
              .project-name
                Project Name
      .col-lg-4.col-sm-6
        %a.portfolio-box{:href => "#"}
          = image_tag "portfolio/6.jpg", class: "img-responsive"

          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                Category
              .project-name
                Project Name
%aside.bg-dark
  .container.text-center
    .call-to-action
      %h2 Restablishing 100% Eco Global Traderoutes
      %a.btn.btn-default.btn-xl.wow.tada{:href => "#"} Learn More!
%section#contact
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %h2.section-heading Let's Get In Touch!
        %hr.primary/
        %p Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!
      .col-lg-4.col-lg-offset-2.text-center
        %i.fa.fa-phone.fa-3x.wow.bounceIn
        %p 123-456-6789
      .col-lg-4.text-center
        %i.fa.fa-envelope-o.fa-3x.wow.bounceIn{"data-wow-delay" => ".1s"}
        %p
          %a{:href => "mailto:your-email@your-domain.com"} about@bitcoin01.io
