%header.homepage
  .header-content
    .header-content-inner
      %h1.main-lead-text The Experimental Global Floating Blockchain Hackspace
      %hr/
      %a.btn.btn-primary.btn-xl.page-scroll{:href => "#about"} Our Mission
%section#about.bg-primary
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %h2.section-heading Freedom
        %hr.light/
        %p.lead Entropy is the worlds first floating hackspace, blockchain controlled sailing vessel and global refuge for digital nomads.
        %p.lead.text-faded
          We have a passion for the emerging decentralised world and are embarking on an experimental global voyage, pushing the limits of
      .col-lg-8.col-lg-offset-2.text-center
        %hr.light/
        %h2.section-heading For Everyone

        %p.lead Whenever possible, anyone is welcome to come aboard for plenty of hot drinks, regular maker nights, events and talks.
        %p.lead
          Anyone can join our community with not only a say in what we do and where we go, but you can join us as we travel there
        = link_to "become a citizen", crowdfund_path, class: "btn btn-default btn-xl"
%section#map
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Route
        %hr.primary/
        %p.lead Entropy steadily heads West on a schedule carefully planned to avoid storm seasons while harnessing the natural trade winds.
        %p.lead The community at large decides the next port of call
        = link_to page_path('map') do
          = image_tag 'worldmap_1.png', class: "img-responsive wow fadeIn"

%section#services
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading 100% Bitcoin, 100% Freedom
        %hr.primary/
  .container
    .row
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.fa-anchor.wow.bounceIn.text-primary
          %h3 Hackspace, Event Venue & More
          %p.text-muted.lead Dramatically bringing the intangable right to the heart of major cities around the world, with an onboard bitcoin cafe, hackerspace and global fairtrade tea delivery.
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.fa-flag.wow.bounceIn.text-primary{"data-wow-delay" => ".1s"}
          %h3 Citizenship
          %p.text-muted.lead Anyone can become a citizen, entitled to join us sailing, vote on the next destination and help out.
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.fa-arrows-alt.wow.bounceIn.text-primary{"data-wow-delay" => ".2s"}
          %h3 Decentralized Infrastructure
          %p.text-muted.lead Pushing the boundaries of eco-friendly mobile technology, off grid power and decentralisation, we are building a community around blockchain based trustless descision making
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.fa-chevron-circle-right.wow.bounceIn.text-primary{"data-wow-delay" => ".3s"}
          %h3 Just the Beginning
          %p.text-muted.lead Entropy is part of an emerging fleet, heading under full sail into the unknown of the new word
%section#portfolio.no-padding
  .container-fluid
    .row.no-gutter
      .col-lg-4.col-sm-6
        %a.portfolio-box{:href => "#"}
          = image_tag "sails_up.jpg", class: "img-responsive"
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                Our Boat
              .project-name
                Quiet, Relaxed, EcoFriendly, our boat is large enough to host events and comfortable enough to travel on aroud the world.

      .col-lg-4.col-sm-6
        %a.portfolio-box{:href => "#"}
          = image_tag "spinnaker.jpg", class: "img-responsive"
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                Hackspace
              .project-name
                Full onboard workshop, 3d Printing, IoT components, everything you need to learn and experiment with bitcoin together with plenty of fresh coffee
      .col-lg-4.col-sm-6
        %a.portfolio-box{:href => "#"}
          = image_tag "sails-3.jpg", class: "img-responsive"

          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                Decentralised
              .project-name
                Funding, planning and running Entropy is pushing the boundaries of what an organisation can be, building Open Source projects to help others follow the same path

%section#team
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %h2.section-heading Who we are
        %hr.primary/
        %p We're an enthusiastic and friendly group of technologists, creatives, environmentalists and dreamers
    .row
      .col-lg-3.text-center.wow.fadeIn
        = image_tag "helena_1.jpg", class: "img-responsive profile_pic"
        %p Helena Teichrib
        %p.text-muted Creative Dreamer & Designer
        %p
          %a{:href => "mailto:helena.rib@project-entropy.com"}
            %i.fa.fa-envelope-o
          %a{:href => "https://www.linkedin.com/in/helena-teichrib-83246065/en"}
            %i.fa.fa-linkedin
          %a{:href => "https://twitter.com/HelenaTeichrib"}
            %i.fa.fa-twitter

      .col-lg-3.text-center.wow.fadeIn
        = image_tag "anne_2.png", class: "img-responsive profile_pic"
        %p Anne Schön
        %p.text-muted Social Designer & Startup Mentor
        %p
          %a{:href => "mailto:schoen.anne@online.de"}
            %i.fa.fa-envelope-o


      .col-lg-3.text-center.wow.fadeIn
        = image_tag "joran_rain.png", class: "img-responsive profile_pic"
        %p Joran Kikke
        %p.text-muted Skipper, Maker & Technologist
        %p
          %a{:href => "mailto:joran.k@project-entropy.com"}
            %i.fa.fa-envelope-o
          %a{:href => "https://nz.linkedin.com/in/jỏ͕̉r͕̻͕̉̉̉ả̻͕̉n-kikke-0b08065"}
            %i.fa.fa-linkedin
          %a{:href => "https://twitter.com/donkeyscience"}
            %i.fa.fa-twitter

      .col-lg-3.text-center

      .col-lg-3.text-center

%section#contact
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %h2.section-heading Get in touch
        %hr.primary/
        %p We're keen to hear from you about any questions, or if anyone wants to get involved!
    .row
      .col-lg-3.text-center
        %i.fa.fa-phone.fa-3x.wow.bounceIn
        %p +64 0204 404 004
      .col-lg-3.text-center
        %i.fa.fa-envelope-o.fa-3x.wow.bounceIn{"data-wow-delay" => ".1s"}
        %p
          %a{:href => "mailto:freedom@project-entropy.com"} freedom@project-entropy.com
      .col-lg-3.text-center
        %i.fa.fa-github.fa-3x.wow.bounceIn{"data-wow-delay" => ".1s"}
        %p
          %a{:href => "https://github.com/ProjectEntropy/"} github.com/ProjectEntropy
      .col-lg-3.text-center
        %i.fa.fa-twitter.fa-3x.wow.bounceIn{"data-wow-delay" => ".1s"}
        %p
          %a{:href => "https://twitter.com/EntropyBoat/"} @EntropyBoat
