= content_for :title do
  Community
%section
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Community

    .row
      .col-md-8
        .row
          .col-md-6
            %p.lead Entropy Rocket Chat
            %p
              Live chat here: >
              %strong
                = link_to 'Entropy Rocket', 'https://rocket.project-entropy.com'

            %p
              Making use of the open source
              = link_to 'Rocket.chat', 'https://rocket.chat/'
              chat platform, join us to help steer the project!
          .col-md-6
            %br
            = image_tag 'https://rocket.chat/images/logo/logo-dark.svg?v3', class: 'img-responsive'
        .row
          .col-md-12
            %hr

        .row
          .col-md-6
            %p.lead Secure Scuttlebutt
            %p
              We're also in the
              %strong #project-entropy
              channel on
              = link_to 'patchwork', 'https://ssbc.github.io/patchwork/'
              , which runs on the
              = link_to 'secure scuttlebutt', 'https://ssbc.github.io/scuttlebot/'
              crypto chain distributed peer to peer database, designed in part for
              use in marine and other offline internet situations.
            %p
              Scuttlebutt allows the fleet to stay connected with one another even
              when outside of network coverage.
            %p
              invite code:

            %pre
              ssb.project-entropy.com:8008:@F8hT83xhcrh7GFkcS6/cuDJFhrNOZoYHdJy4dUTifvo=.ed25519~Tmhd/+dJ2YLrzsW2rJPMdinpj3m25iahhs99eDB3KdM=
          .col-md-6
            %br
            = image_tag 'patchwork.png', class: 'img-responsive'

      .col-md-4
        :plain
          <a class="twitter-timeline" href="https://twitter.com/EntropyBoat">Tweets by EntropyBoat</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
