= content_for :title do
  Community
%section
  .container
    .row
      .col-lg-12
        %h3.section-heading How to get involved
        %br

    .row
      .col-sm-8
        .row
          .col-sm-9
            %p.lead
              🌎 Tribe
            %p Join the discussion, say hello, visit the fleet for tea or coffee
            %p
              = link_to 'https://rocket.project-entropy.com', class: 'btn btn-primary btn-sm' do
                %i.fa.fa-rocket
                Rocket Chat
              = link_to page_path(:map), class: 'btn btn-primary btn-sm' do
                %i.fa.fa-map
                Map

            %p.lead.text-right
              🗺 Ideas & Navigation
            %p.text-right
              Suggest or vote on destinations, ideas and projects, together with helping resolve problems the fleet faces.

            %p.lead
              🙋 Volunteering
            %p
              Offer to come aboard and help sail, run events or maintain the fleet
            %p.lead
              ✨ Koha
            %p
              Helping the project survive by donating your time, tools & parts, food, accommodation or Ether
            %p.lead.text-right
              💰 Sponsorship
            %p.c5.text-right
              Buy some space on the sail for your brand or message
            %p.lead
              🌱 Building
            %p
              Build your idea aboard with a small team as the fleet roams around the world

        .row
          .col-sm-9
            %p.lead Mailing List
            %p#mc_embed_signup
              %form#mc-embedded-subscribe-form.validate{:action => "//project-entropy.us12.list-manage.com/subscribe/post?u=fb894153d0cc6c3bdeb13794f&id=c9aa23f67a", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
                #mc_embed_signup_scroll

                  .form-group
                    %label{:for => "mce-EMAIL"}
                      Email Address
                    %input#mce-EMAIL.required.email.form-control{:name => "EMAIL", :type => "email", :value => ""}/
                  #mce-responses.clear
                    #mce-error-response.response{:style => "display:none"}
                    #mce-success-response.response{:style => "display:none"}
                  / real people should not fill this in and expect good things - do not remove this or risk form bot signups
                  %div{"aria-hidden" => "true", :style => "position: absolute; left: -5000px;"}
                    %input{:name => "b_fb894153d0cc6c3bdeb13794f_c9aa23f67a", :tabindex => "-1", :type => "text", :value => ""}/
                  .clear
                    %input#mc-embedded-subscribe.button.btn.btn-success{:name => "subscribe", :type => "submit", :value => "Subscribe"}/


        .row
          .col-sm-6
            %p.lead Secure Scuttlebutt
            %p
              We're also in the
              %strong #project-entropy
              channel on
              = link_to 'patchwork', 'https://ssbc.github.io/patchwork/'
              , which runs on the
              = link_to 'secure scuttlebutt', 'https://ssbc.github.io/scuttlebot/'
              crypto chain distributed peer to peer offgrid network, designed in part for
              use in marine and other offline internet situations.
            %p
              Scuttlebutt allows the fleet to stay connected with one another even
              when outside of network coverage.
            %p
              invite code:

            %pre
              ssb.project-entropy.com:8008:@F8hT83xhcrh7GFkcS6/cuDJFhrNOZoYHdJy4dUTifvo=.ed25519~Tmhd/+dJ2YLrzsW2rJPMdinpj3m25iahhs99eDB3KdM=
          .col-md-6
            %br
            = image_tag 'patchwork.png', class: 'img-responsive'

      .col-sm-4
        :plain
          <a class="twitter-timeline" href="https://twitter.com/EntropyBoat">Tweets by EntropyBoat</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
