#bs-example-navbar-collapse-1.collapse.navbar-collapse.main-navbar
  %ul.nav.navbar-nav.navbar-right
    %li
      = link_to page_path('boat') do
        %i.fa.fa-anchor
        The Boat
    %li
      = link_to page_path('hackspace') do
        %i.fa.fa-fire-extinguisher
        Hackspace
    %li
      = link_to page_path('decentralized') do
        %i.fa.fa-arrows-alt
        Decentralized
    %li
      = link_to page_path('map') do
        %i.fa.fa-map-o
        Map
    %li
      = link_to page_path('team') do
        %i.fa.fa-anchor
        Team
    %li
      = link_to page_path('citizen') do
        %i.fa.fa-flag-o
        Citizenship
