
%ul.nav.navbar-nav
  %li
    = link_to page_path('community') do
      Community
  %li
    = link_to page_path('projects') do
      Projects
  %li
    = link_to page_path('dao') do
      Our DAO
  %li
    = link_to page_path('crowdfund') do
      Crowdfund
  %li
    = link_to page_path('map') do
      Map
  %li
    = link_to posts_path do
      Log
